:root {
    --brand-color: #0B9F85;
    --light-brand-color: #EF57F2;
    --text-color:  #000000;
    --light-text-color: #7C7C7C;
    --alert-color:  #EDED00 ;
    --success-color: #67E500;
    --warning-color: #2539EA;
    --error-color: #EA0000;
    --main-background-color : #f8f9fa;
    --light-background-color : #fbfbfb;
    --default-font : Roboto, sans-serif;
    --primary-font : Roboto Condensed, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --default-font-size: 16px;
}

/* Typography Starts here */
*,
html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}

section{
    border-bottom: none;
    margin-bottom: 25px;
}

footer #footer{
    margin-bottom: 0px;
}

a {   
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 4rem;
}
h2 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.813rem;
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

.emphasis {
    font-family: var(--brand-color);
    font-style: italic;
    color: var(--main-brand-color);
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}

.pill-btn {
    border-radius: 499rem;
}

.rounded-corners {
    border-radius: .3rem;
}

.alt-background {
    background: var(--main-background-color);
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-white,
.btn-outline-white,
.btn-success,
.btn-outline-success,
.btn-info,
.btn-outline-info,
.btn-warning,
.btn-outline-warning,
.btn-danger,
.btn-outline-danger {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-white,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
    border-width: .15rem;
}

.btn:focus{
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}


.lead {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color)
}

@media(max-width: 767px) {
    .lead {
        font-size: 1.2rem      
    }
  }

/* Typography Ends here */  

/* Theme CSS starts here */
/* #haru(h371bd1a72c8a0ce8) #css starts */
.headerh371bd1a72c8a0ce8{
    background-color: var(--brand-color)
}
.headerh371bd1a72c8a0ce8 .navbar-expand-lg{
    background-color: var(--brand-color)
}
.headerh371bd1a72c8a0ce8 .navbar-light .navbar-nav .nav-link{
    color: #E2F5F3
}
.headerh371bd1a72c8a0ce8 .navbar-light .navbar-nav .nav-link:hover{
    color: #E2F5F3
}
.headerh371bd1a72c8a0ce8 .navbar-light .navbar-nav .nav-link:visited{
    color: #E2F5F3
}
.headerh371bd1a72c8a0ce8 .btn{
    color: #E2F5F3;
    padding-right: 25px
}
.headerh371bd1a72c8a0ce8 .btn:hover{
    color: #E2F5F3
}
.headerh371bd1a72c8a0ce8 .btnStyle{
  border: 1px solid white;
  padding-right: 30px;
  padding-left: 30px
}

/* #haru(h371bd1a72c8a0ce8) #css ends */

/* #asur(a3d4b7ad05aa7803) #css starts  */
.abouta3d4b7ad05aa7803 .DescriptionHeading {
    font-size: 50px
}

.abouta3d4b7ad05aa7803 .DescriptionPara {
    color: #666666;
    font-size: 18px
}

.abouta3d4b7ad05aa7803 .descriptionImage img{
    height: 400px;
    width: 500px
}

.abouta3d4b7ad05aa7803 .searchBtn{
    background-color:var(--brand-color);
    color: white
}
.abouta3d4b7ad05aa7803  .stroke { 
        color: white; 
        -webkit-text-stroke-width: 1px; 
        -webkit-text-stroke-color: var(--brand-color)
    } 
    .abouta3d4b7ad05aa7803 .form-control,
    .abouta3d4b7ad05aa7803 .input-group-append{
        border: none;
        box-shadow: 0 3px 4px -1px rgba(99, 99, 99, 0.2)
    }

    .abouta3d4b7ad05aa7803 .form-control:hover,
    .abouta3d4b7ad05aa7803 .form-control:focus{
        box-shadow: 0 3px 4px -1px rgba(99, 99, 99, 0.2)
    }
    .abouta3d4b7ad05aa7803 .input-group-append:focus{
        box-shadow: 0 3px 4px -1px rgba(99, 99, 99, 0.2)
    }
    .abouta3d4b7ad05aa7803 .dropdown-item:active{
        background-color: var(--brand-color)
    }

/* #asur(a3d4b7ad05aa7803) #css ends  */

/* ======================= clifton start ====================== */
.clifton .our-clients img.logo {
    width: 170px;
    margin-bottom: 30px;
}
.clifton .our-clients .client-logos {
    padding-top: 50px;
    padding-bottom: 50px;
}
.clifton .heading-two-custom-cls{
 color:var(--brand-color)
}
/* iPhone 5 (portrait) */
@media only screen and (max-width: 320px) {
    .client-logos{
        margin-left: 50px;
    }
  }
/* ======================= clifton end ====================== */

/* #quack(82b7ca311d27746a) #css starts  */
.quickLinkq82b7ca311d27746a .btn{
    font-weight:bold;
    border: 1px solid;
    margin: 11px
}
.quickLinkq82b7ca311d27746a .btn:hover{
    background-color: var(--brand-color);
    color: rgb(255, 255, 255)
}
.quickLinkq82b7ca311d27746a .hp{
 color: #130D43
}
/* #quack(82b7ca311d27746a) #css ends  */

    /* #sukna(aabca5c0b873aff8) #css starts  */
    .slideraabca5c0b873aff8 .card img{
        height: 50px;
        width: 50px;
    }
    .slideraabca5c0b873aff8 .btnStyle{
        background-color: #0B9F85
    }
    .slideraabca5c0b873aff8 .icon{
        color: white
    }
    .slideraabca5c0b873aff8 .card-text{
        font-weight: bold
    }
    .slideraabca5c0b873aff8 .card:hover{    
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
    .slideraabca5c0b873aff8 img{
        text-align: center;
    }

     @media only screen and (max-width: 600px) {
        .slideraabca5c0b873aff8 .indicators{
            margin-left: 50px;
}
}
/* #sukna(aabca5c0b873aff8) #css ends  */

/* #banu(e54caba42c027d0f) #css starts  */
    .bannere54caba42c027d0f .video_card {
        position: relative;
        border-radius: 5px;
        background-image: url(http://rb.gy/g40g);
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden
    }

    .bannere54caba42c027d0f .video_card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1
    }

    .bannere54caba42c027d0f .video_card>img {
        width: 1000px;
        height: 500px;
        border-radius: 20px
    }

    .bannere54caba42c027d0f .video_card>.btn {
        position: absolute;
        top: 50%;
        left: 43%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background: #fff;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
        border: none;
        outline: none
    }

    .bannere54caba42c027d0f .video_card>.btn:hover {
        box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.5)
    }

    .bannere54caba42c027d0f .video_card>.btn:active {
        background: rgba(255, 255, 255, 0.5)
    }
    .bannere54caba42c027d0f .stroke { 
            color: white; 
            -webkit-text-stroke-width: 1px; 
            -webkit-text-stroke-color: #0EA187
        } 
        .bannere54caba42c027d0f .desText{
            font-size: 60px;
        }
/* #banu(e54caba42c027d0f) #css ends  */
    
    /* #penguin(p61d8d97decf5bdbd) #css starts  */
    .productsp61d8d97decf5bdbd .card-product .img-wrap {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        height: 220px;
    }

    .productsp61d8d97decf5bdbd .card-product .img-wrap img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .productsp61d8d97decf5bdbd .title {
        color: #162927
    }

    .productsp61d8d97decf5bdbd .card-product .info-wrap {
        overflow: hidden;
        padding-top: 10px;
        padding-left: 15px;
    }

    .productsp61d8d97decf5bdbd .card-product .bottom-wrap {
        padding-top: 5px;
    padding-left: 16px;
    padding-bottom: 15px;
    }

    .productsp61d8d97decf5bdbd .btn-sm {
        color: #4A4167;
        background: none;
        border: 1px solid #36B099
    }

    .productsp61d8d97decf5bdbd .label-rating {
        margin-right: 10px;
        color: #333;
        display: inline-block;
        font-weight: bold;
        vertical-align: middle
    }

    .productsp61d8d97decf5bdbd .price-new {
        font-weight: bold;
        color: #36B099
    }
    .productsp61d8d97decf5bdbd li::marker{
        color: aqua;
    }
    .productsp61d8d97decf5bdbd .badge{
    font-size: 13px;
   
}
.productsp61d8d97decf5bdbd .ml{
    margin-left: -20;
}
    /* #penguin(p61d8d97decf5bdbd) #css ends  */    

/* #asuri(d5a7a1ff7718e70e) #css starts  */
.aboutd5a7a1ff7718e70e .DescriptionHeading {       
    color: #000000;
    font-size: 33px;
    margin-top: 55px
}

.aboutd5a7a1ff7718e70e .DescriptionPara {    
    font-size: 18px
}

.aboutd5a7a1ff7718e70e .descriptionImage img{
    height: 420px;
    width: 500px
}
.aboutd5a7a1ff7718e70e .btn{
    background-color: #0B9F85;
    color: white;
    padding-left: 30px;
padding-right: 30px
}
.aboutd5a7a1ff7718e70e .btn:hover{     
    color: white   
}
/* #asuri(d5a7a1ff7718e70e) #css ends  */

/* #fullu(ff395f33b157d983) #css starts */
.faqff395f33b157d983 .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5
}
.faqff395f33b157d983 .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #3EB29D
}
.faqff395f33b157d983 .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none
}
.faqff395f33b157d983 .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #3EB29D
}
.faqff395f33b157d983 .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #3EB29D;
    border: 1px solid #3EB29D
}
.faqff395f33b157d983 .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0
}
.faqff395f33b157d983 .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px
}
.faqff395f33b157d983 .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor
}
.faqff395f33b157d983 .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor
}
.faqff395f33b157d983 .accordion button[aria-expanded='true'] {
    color: #3EB29D
}
.faqff395f33b157d983 .accordion button[aria-expanded='true'] .icon::after {
    width: 0
}
.faqff395f33b157d983 .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height
}
.faqff395f33b157d983 .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height
}
.faqff395f33b157d983 .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0
}
.faqff395f33b157d983 .stroke { 
           color: white;            
           -webkit-text-stroke-width: 1px; 
           -webkit-text-stroke-color: #0EA187
       } 
   .faqff395f33b157d983 .FAQ{
   font-size: 70px
}

@media (min-width: 1200px) {
   .faqff395f33b157d983 .container{
       width: 600px
   }
 }

/* #fullu(ff395f33b157d983) #css ends */

/* #takur(b6fe35d6e912f44a) #css starts  */
.testimonialb6fe35d6e912f44a #testimonial {
    color: #000;
    overflow-x: hidden;
    height: 80%;
    background-repeat: no-repeat
}

.testimonialb6fe35d6e912f44a .profile-pic {
    width: 100px !important;
    height: 100px;
   border-radius: 50%;
}

.testimonialb6fe35d6e912f44a .owl-carousel .owl-nav button.owl-next, 
.testimonialb6fe35d6e912f44a .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #0B9F85 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.testimonialb6fe35d6e912f44a .owl-carousel .owl-nav button.owl-next:hover, 
.testimonialb6fe35d6e912f44a .owl-carousel .owl-nav button.owl-prev:hover {
    color: #0B9F85 !important;
}

.testimonialb6fe35d6e912f44a .owl-dots {
    display: none
}

.testimonialb6fe35d6e912f44a button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.testimonialb6fe35d6e912f44a .item {
    display: none
}

.testimonialb6fe35d6e912f44a .next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.testimonialb6fe35d6e912f44a .prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.testimonialb6fe35d6e912f44a .item.show {
    display: block;
    transition-duration: 0.4s
}

@media screen and (max-width: 999px) {
    .testimonialb6fe35d6e912f44a .next, 
    .testimonialb6fe35d6e912f44a .prev {
        transform: scale(1);
        opacity: 1
    }

    .testimonialb6fe35d6e912f44a .item {
        display: block !important
    }
}
/* #takur(b6fe35d6e912f44a) #css ends  */

    /* #fanul(b6c9fcc0294384085) #css starts */
    .footerb6c9fcc0294384085 a {
        color: white;
        text-decoration: none;
        transition: all 0.3s
    }

    .footerb6c9fcc0294384085 button {
        background: none
    }

    .footerb6c9fcc0294384085 a:hover,
    .footerb6c9fcc0294384085 a:focus {
        color: white;
        text-decoration: none
    }

    .footerb6c9fcc0294384085 .form-control {
        background: white
    }

    .footerb6c9fcc0294384085 .form-control:focus {
        background: #a5f0e2;
        box-shadow: none;
        color: black
    }

    .footerb6c9fcc0294384085 footer {
        background: #0B9F85
    }

    .footerb6c9fcc0294384085 .mini-footer {
        background: #192027;
        text-align: center;
        padding: 15px 0
    }

    .footerb6c9fcc0294384085 .mini-footer p {
        margin: 0;
        line-height: 26px;
        font-size: 15px;
        color: #999
    }

    .footerb6c9fcc0294384085 .mini-footer p a {
        color: #5867dd
    }

    .footerb6c9fcc0294384085 .mini-footer p a:hover {
        color: #34bfa3
    }

    /* #fanul(b6c9fcc0294384085) #css ends */